<h2 data-lang="en">Game Design Portfolio</h2>
        <h2 data-lang="es">Portafolio de Desarrollo de Juegos</h2>
        <p data-lang="en"><a href="https://lides.itch.io/">Visit my game projects on itch.io</a></p>
        <p data-lang="es"><a href="https://lides.itch.io/">Visita mis proyectos de juegos en itch.io</a></p>
        <div style="background-image: url('assets/img/bg/curtain-back-128.png'); padding-bottom: 8px;">
            <h2 style="color:white ;background: #000; border:2px black solid;"data-lang="en" >Play online</h2>
            
            <h2 style="color:white ;background: #000; border:2px black solid;" data-lang="es">Jugar online</h2>
            <div class="display:flex">
                <iframe frameborder="0" src="https://itch.io/embed/1729650?bg_color=ffe39b&amp;fg_color=850d08&amp;link_color=fb513c&amp;border_color=da8525" width="552" height="167"><a href="https://lides.itch.io/pocket-crab-atk">Pocket Crab Atack by CrazyInocentGames</a></iframe>
                <iframe frameborder="0" src="https://itch.io/embed/1305241?bg_color=22123d&amp;fg_color=4997ff&amp;link_color=ffb311&amp;border_color=ff655b" width="552" height="167"><a href="https://lides.itch.io/blocktron">BlockTron by CrazyInocentGames</a></iframe>
                <iframe frameborder="0" src="https://itch.io/embed/2815029?linkback=true&amp;bg_color=0c0c0c&amp;fg_color=fb922b&amp;link_color=ff4235&amp;border_color=ee7d1a" width="552" height="167"><a href="https://lides.itch.io/micromadnessthermostation">MicroMadness-Thermostation by CrazyInocentGames</a></iframe>
                <iframe frameborder="0" src="https://itch.io/embed/2637919?dark=true" width="552" height="167"><a href="https://lides.itch.io/wanderer">Wanderer by CrazyInocentGames</a></iframe>
                <iframe frameborder="0" src="https://itch.io/embed/3549328?bg_color=081f25&amp;fg_color=a98139&amp;link_color=8d7300&amp;border_color=1689ff" width="552" height="167"><a href="https://lides.itch.io/bird-fall">Bird fall by CrazyInocentGames</a></iframe>
                <iframe frameborder="0" src="https://itch.io/embed/3586024?bg_color=00235f&amp;fg_color=b0b0b0&amp;link_color=218599&amp;border_color=0b0f1d" width="552" height="167"><a href="https://lides.itch.io/alien-mouse">Alien Mouse by CrazyInocentGames</a></iframe>
            </div>
            <h2 style="color:white ;background: #000; border:2px black solid;">AssetPack</h2>
            <div style="display: flex; justify-content: center; align-items: center;">
                <h3 style="
                    color: white;
                    background: #0056b3;
                    border: 2px solid #0056b3;
                    border-radius: 20px;
                    padding: 10px 24px;
                    margin: 4px;
                    display: inline-block;
                    width: fit-content;
                ">
                    METALF135H
                </h3>
            </div>
            
            <div class="desktop" style="display: flex;flex-wrap: wrap;justify-content: space-evenly; align-content: space-evenly; align-items: center;">
                <iframe frameborder="0" src="https://itch.io/embed/4697928?bg_color=8973AB&amp;fg_color=1C080C&amp;link_color=C28EAD&amp;border_color=FFE6D1" width="552" height="167">
                    <a href="https://lides.itch.io/metalf135h-guard-robot-m1-l1c0">METALF135H - Guard robot - M1-L1C0 by CrazyInocentGames</a>
                </iframe>
                <iframe frameborder="0" src="https://itch.io/embed/4722962?bg_color=5D6B79&amp;link_color=B74037" width="552" height="167">
                    <a href="https://lides.itch.io/metalf135h-guard-robot-s0-p5p0">METALF135H - Guard robot - S0-P5P0 by CrazyInocentGames</a>
                </iframe>
                <iframe frameborder="0" src="https://itch.io/embed/4735044?bg_color=F6CBA7&amp;fg_color=545955&amp;link_color=CF6631&amp;border_color=78949B" width="552" height="167">
                    <a href="https://lides.itch.io/metalf135h-guard-robot-gf-t3r0">METALF135H - Guard robot - GF-T3R0 by CrazyInocentGames</a>
                </iframe>
            </div>
            <div class="mobile" style="display:none; flex-wrap: wrap;justify-content: space-evenly; align-content: space-evenly; align-items: center;">
                <iframe frameborder="0" src="https://itch.io/embed/4697928?bg_color=8973AB&amp;fg_color=1C080C&amp;link_color=C28EAD&amp;border_color=FFE6D1" width="208" height="167"></iframe>

                <iframe frameborder="0" src="https://itch.io/embed/4722962?bg_color=5D6B79&amp;link_color=B74037" width="208" height="167"></iframe>

                <iframe frameborder="0" src="https://itch.io/embed/4735044?bg_color=F6CBA7&amp;fg_color=545955&amp;link_color=CF6631&amp;border_color=78949B" width="208" height="167"></iframe>
            </div>
            <div style="display: flex; justify-content: center; align-items: center;">
                    <h3 style="
                        color: white;
                        background: #0056b3;
                        border: 2px solid #0056b3;
                        border-radius: 20px;
                        padding: 10px 24px;
                        margin: 4px;
                        display: inline-block;
                        width: fit-content;
                    "data-lang="em">Free</h3>
                    <h3 style="
                        color: white;
                        background: #0056b3;
                        border: 2px solid #0056b3;
                        border-radius: 20px;
                        padding: 10px 24px;
                        margin: 4px;
                        display: inline-block;
                        width: fit-content;
                    "data-lang="es">Gratis</h3>
            </div>
                 
            <div class="desktop" style="display: flex;flex-wrap: wrap;justify-content: space-evenly; align-content: space-evenly; align-items: center;">
                <iframe frameborder="0" src="https://itch.io/embed/2386961?linkback=true&amp;bg_color=d89fff&amp;fg_color=13421a&amp;link_color=000000&amp;border_color=030b05" width="552" height="167"><a href="https://lides.itch.io/retro-ui-grayscale">
                    Retro ui grayscale by CrazyInocentGames
                </a></iframe>
                <iframe frameborder="0" src="https://itch.io/embed/3715788?linkback=true&amp;bg_color=222222&amp;fg_color=eeeeee&amp;border_color=363636" width="552" height="167"><a href="https://lides.itch.io/rpg-action-bundle">rpg-action-bundle by CrazyInocentGames</a></iframe>
                <iframe frameborder="0" src="https://itch.io/embed/2981167?linkback=true&amp;bg_color=0047ab&amp;fg_color=a9a9a9&amp;link_color=8c88de&amp;border_color=6800cf" width="552" height="167"><a href="https://lides.itch.io/lunch-sprite-bundle">aspr-breakfast_lunch-bundle by CrazyInocentGames</a></iframe>
            </div>
        </div>