#divbox{
    padding: 1%;
    color: black;
    background-color: blanchedalmond;
    box-sizing: border-box;
    border: black solid 4px;
    border-bottom-color: #402020;
    border-left-color: #503020;
    border-radius: 32px;
    min-height: 100%;
    

}


body{
    color:whitesmoke;
    background-color:darkslategrey
    
}

a{
    color: whitesmoke;
    background-color: dimgray;
    margin: 4px;
    text-align: center;
   display: flex;
   align-items: center;
   justify-content: space-evenly;

    

    
    box-sizing: border-box;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 5%
    ;
    

   
}

.hbox{
    width: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: row;
}


a:visited{
    color:orange;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border: black 2px solid;
    /*box-shadow: inset 0 0 5px grey; */
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border: black 2px solid;
    background: whitesmoke; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: wheat; 
  }